.blue_header {
    background-color: #3293ED;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 480px;
    left: 0px;
    top: 0px;
    box-shadow: 27px 4px 40px rgba(31, 79, 124, 0.5);
}

.whatido_background {
    background: url(whatido_background.png);
    background-color: #E5e5e5;
    background-attachment: fixed;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 690px;
    left: 0px;
    top: 1380px;
}

.programs_background {
    background: url(programs_background.png);
    background-color: #E5e5e5;
    background-attachment: fixed;
    z-index: -1;
    width: 100vw;
    height: 480px;
    left: 0px;
    margin-top: 1430px;
}

.languages_background {
    background: url(languages_background.jpg);
    background-color: #E5e5e5;
    background-attachment: fixed;
    z-index: -1;
    width: 100vw;
    height: 480px;
}

.page {
    width: 66vw;
    height: 100vh;
    margin: 0 auto;
    margin-top: 150px;
    /* background-color: hotpink; */
}

.profile_pic {
    width: 100%;
    height: 700px;
    background-color: red;
    background: url(profile_pic.jpg);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.line {
    width: 60px;
    height: 5px;
    background-color: black;
    display: inline-block;
}

.name {
    width: 100%;
    height: 300px;
    margin-top: 0px;
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 700;
    /* background-color: blue; */
}

.info {
    width: 100%;
    height: 300px;
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight:400;
    text-align: justify;
    /* background: purple; */
}

.head_left {
    width: 100%;
    height: 400px;
    padding-right: 30px;
    flex-direction: column; 
    width: 50%; 
    /* background-color: #3293ED; */
}

.head_right {
    width: 100%;
    height: 400px;
    padding-left: 30px;
    flex-direction: column; 
    width: 50%; 
}

.title_middle {
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: #3293ED;
    margin-top: 240px;
    margin-bottom: 60px;
    /* background-color: red; */
}

.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #141414;
}

.card_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
    /* background-color: blueviolet; */
}

.card {
    width:100%;
    height: auto;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.card_background_whatido {
    width:100%;
    height: 210px;
    background: #3293ED;
    display: flex;
    align-content: center;
}

.card_background_programs {
    width:100%;
    height: 180px;
    background: #FFF853;
    display: flex;
    align-content: center;
    
}

.card_title {
    text-align: center;
    font
}

.card_font {
    margin: 30px 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    /* background-color: blue; */
}

